<footer class="site-footer">
    <div class="footer-content">
        <p class="footer-name">Dev's Insights</p>

        <div class="social-icons">
            {% if site.linkedin_username %}
            <a
                    href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
                    target="_blank"
                    aria-label="My LinkedIn Profile"
            >
                <i class="fab fa-linkedin"></i>
            </a>
            {% endif %} {% if site.github_username %}
            <a
                    href="https://github.com/{{ site.github_username }}"
                    target="_blank"
                    aria-label="My GitHub Profile"
            >
                <i class="fab fa-github"></i>
            </a>
            {% endif %} {% if site.instagram_username %}
            <a
                    href="https://www.instagram.com/{{ site.instagram_username }}"
                    target="_blank"
                    aria-label="My Instagram Profile"
            >
                <i class="fab fa-instagram"></i>
            </a>
            {% endif %}
        </div>
    </div>
</footer>
