<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
    {{ site.title | escape }}
    </a>

    <div class="social-icons">
      {% if site.linkedin_username %}
      <a
              href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
              target="_blank"
              aria-label="My LinkedIn Profile"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      {% endif %} {% if site.github_username %}
      <a
              href="https://github.com/{{ site.github_username }}"
              target="_blank"
              aria-label="My GitHub Profile"
      >
        <i class="fab fa-github"></i>
      </a>
      {% endif %} {% if site.instagram_username %}
      <a
              href="https://www.instagram.com/{{ site.instagram_username }}"
              target="_blank"
              aria-label="My Instagram Profile"
      >
        <i class="fab fa-instagram"></i>
      </a>
      {% endif %}
      <a
              href="https://jcast.dev"
              target="_blank"
              aria-label="The JCast website"
      >
        <img src="{{ "/assets/favicon/jcast.png" | relative_url }}" alt="The JCast icon">
      </a>
    </div>
  </div>
</header>
