---
---

@use "minima";

.page-content {
  padding: 0 !important;
}

/* HEADER */
header {
  background-color: #f8f8f8;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px 0;
}
.wrapper::after{
  content: none !important;
}

.site-header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #333;
  font-size: 1.5em;
}

.social-icons a:visited {
  color: #333;
  font-size: 1.5em;
}

.social-icons a:hover {
  color: rgba(21, 20, 20, 0.19);
}

/* MAIN */
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.dev-insight {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;

  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(1000px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
}

.dev-insight h3 {
  color: #333;
  margin-bottom: 10px;
}

.dev-insight p {
  font-size: 1.1em;
  line-height: 1.6;
}

.page-content .wrapper {
  display: block;
}

.post {
  display: flex;
  flex-direction: column;
  position: relative;
}

.related-posts {
  margin-bottom: 50px;
}

.post-content, .related-posts{
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.post-image {
  position: relative;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

.post-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(248, 248, 248, 0.38);
  color: #000000;
  padding: 15px;
}

.post-overlay h2 {
  font-size: 24px;
  margin: 0;
  z-index: 1;
}

.post-overlay .post-meta {
  font-size: 14px;
  z-index: 1;
}

.post-overlay .post-meta {
  color: #000000;
}

.post-overlay h2 a {
  color: #000000;
}

.post-header {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  background-color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination a {
  color: rgba(0, 0, 0, 0.29);
  text-decoration: none;
}

.pagination a:hover {
  text-decoration: underline;
}

.related-posts ul li a {
  color: black;
}

.main-content {
  display: flex;
  gap: 20px;
}

.featured-post {
  width: 60%;
  margin: 50px;
}

.featured-post a {
  width: 60%;
  margin: 50px;

  h1 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    color: #151414;
  }
}

.featured-post h2 {
  color: #151414;
}

.featured-post img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.sidebar-posts {
  width: 50%;
  margin: 50px;
}

.sidebar-post {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-image,
.overview-image {
  width: 25%;
  height: auto;
  display: block;
  flex-shrink: 0;
}

.sidebar-post-info {
  color: rgb(21, 20, 20);
}

.sidebar-post-info h2 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
}

.sidebar-post a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.sidebar-post h3 {
  margin: 0;
  font-size: 1em;
}

.sidebar-post .post-meta {
  font-size: 0.8em;
  color: #777;
  margin: 0;
}

.more-posts {
  display: flex;
  justify-content: end;

  a:visited {
    color: #151414;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

#overview-content {
  width: 50%;
  margin: 0 auto;
}

.overview-post a {
  display: flex;
  text-decoration: none;
  color: inherit;
  justify-content: space-between;
  gap: 10px;
}

.overview-post-info {
  text-align: left;
  flex: 1;

  p {
    font-size: 0.8em;
  }
}

.overview-posts {
  margin-top: 50px !important;
  list-style: none;
  padding: 0;
}

.overview-post{
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

li a:visited {
  color: black;
  text-decoration: none;
}

/* FOOTER */
.site-footer {
  text-align: center;
  background-color: #f8f8f8;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.site-footer .footer-name {
  font-weight: bold;
  font-size: 18px;
}

.site-footer .footer-email a {
  color: #333;
  text-decoration: none;
}

.site-footer .footer-email a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .main-content {
    flex-direction: column;
    gap: 0;
    margin: 50px;
  }

  .featured-post {
    width: 100%;
    margin: 20px 0;
  }

  #overview-content,
  .sidebar-posts {
    width: 100%;
    margin: 20px 0;
  }

  .sidebar-post,
  .overview-post {
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar-image,
  .overview-image {
    width: 100%;
    max-height: none;
    margin-bottom: 10px;
  }

  .sidebar-post a,
  .overview-post a {
    flex-direction: column;
    align-items: flex-start;
  }
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: #333;;
  width: 0;
  z-index: 9999;
  transition: width 0.25s ease-out;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1;
  border-radius: 5px;
}

.copy-button:hover {
  background-color: #333;
}

.copied-icon {
  margin-left: 10px;
  color: green;
  font-size: 18px;
}


